<section class="outline">
    <p class="title">Наконец-то, раскрыта технология как предпринимателю управлять прибыльным бизнесом (и даже не одним), при этом оставаясь свободным, здоровым и довольным жизнью, без стресса и необходимости жить на работе!</p>
    <ul class="pros">
        <li>Представьте, как Вы <span>с удовольствием просыпаетесь утром</span> и с самых первых минут дня точно знаете, что нужно делать сегодня, чтобы сделать ваш бизнес еще более прибыльным…</li>
        <li>За утренним кофе Вы смотрите статистику по продажам и <span>с чувством гордости видите,</span> что по сравнению с прошлым месяцем она выросла значительно, так как Вы внедрили новые системы в продажах и маркетинге… </li>
        <li>Вы с <span>нетерпением ждете встречи с Вашей командой,</span> чтобы обсудить новый способы давать больше ценности вашим клиентам и мотивировать их возвращаться к вам чаще и чаще. </li>
        <li>При этом вы знаете, что уже <span>в 4 часа дня будете свободны,</span> чтобы заняться спортом, а потом провести вечер с семьей… А в следующем месяце у Вас запланирован отпуск в теплой стране, о которой вы так давно мечтали…</li>
        <li><span>Не так давно вы бы провели этот день (и многие следующие) в стрессе, «тушении пожаров»,</span> работая слишком долго и слишком упорно, почти без поддержки, реагируя на проблемы, вместо того, чтобы создавать успех. </li>
        <li>Вы улыбаетесь, понимая, как далеко вы продвинулись и как много побед впереди… </li>
        <li>Приветсвую, меня зовут Иван Зимбицкий и в начале карьеры предпринимателя я тоже работал по 12-18 часов в день, как и вы, возможно, сейчас… Однако я общался с многими западными предпринимателями и видел, что они успешнее меня и при этом свободны и наслаждаются жизнью, а их бизнес растет… </li>
        <li>Чтобы раскрыть их секрет я инвестировал в обучение у наставников из США более $15 000. И мне удалось «взломать» код технологии как создавать «саморазвивающийся» бизнес, который дает деньги и свободу. </li>
        <li>Сейчас у меня 3 бизнеса. </li>
        <li>При этом я путешествую по 4 месяца в году, обучаюсь, провожу время с семьей, обучаю команду, провожу мероприятия на 100-150 человек, занимаюсь спортом каждый день и интенсивно готовлюсь к прохождению дистанции Ironman 70.3 (это 1,9 км плавания, 90 км на велосипеде и 21,1 км – бег). </li>
    </ul>
    <div class="custom-img">
        <img src="../img/custom-pics.png" alt="Custom pictures">
    </div>
</section>