@font-face{
    font-family: 'CirceBold';
    src: url('../fonts/CirceBold/Circe-Bold.eot');
    src: url('../fonts/CirceBold/Circe-Bold.eot?iefix') format('eot'),
    url('../fonts/CirceBold/Circe-Bold.woff') format('woff'),
    url('../fonts/CirceBold/Circe-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'GeorgiaItalic';
    src: url('../fonts/GeorgiaItalic/GeorgiaItalic.eot');
    src: url('../fonts/GeorgiaItalic/GeorgiaItalic.eot?iefix') format('eot'),
    url('../fonts/GeorgiaItalic/GeorgiaItalic.woff') format('woff'),
    url('../fonts/GeorgiaItalic/GeorgiaItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}